---
layout: default.hbs
---

<div class="content">
{{#postindex pages 4}}
	{{#if isFirst}}
		<h1 class="page-header"><a href="{{relative ../../page.dest post.dirname}}">{{post.data.title}}</a></h1>
		{{!-- show the whole post for the most recent post --}}
		{{#markdown}}{{{ post.page }}}{{/markdown}}
		{{> postfooter.hbs post }}
	{{/if}}
	{{#unless isFirst}}
		<h1 class="page-header"><a href="{{relative ../../page.dest post.dirname}}">{{post.data.title}}</a></h1>
		{{!-- only show excerpts for the other posts --}}
		{{#markdown}}{{#excerpt}}{{{ post.page }}}{{/excerpt}}{{/markdown}}
		<p><a href="{{relative ../../page.dest post.dirname}}">Read the rest...</a></p>
		{{> postfooter.hbs post }}
	{{/unless}}
{{/postindex}}
</div>