{{!-- {{inspect this 'json'}} --}}

<div>
{{#each pages}}
  {{ debug ../page.src }}
  {{#unless_eq src compare=../page.src}}
    <h1><a href="{{relative ../../page.dest dirname}}">{{data.title}}</a></h1>
    {{#markdown}}{{#excerpt}}{{{ page }}}{{/excerpt}}{{/markdown}}
  {{/unless_eq}}
{{/each}}
</div>