---
layout: default.hbs
---

<div class="content">
	{{#each posts}}
		{{#forEach pages}}
			<h1 class="page-header"><a href="{{relative ../../page.dest dirname}}">{{data.title}}</a></h1>
			{{#if isFirst}}
				{{#markdown}}{{#striphbsescape}}{{{ page }}}{{/striphbsescape}}{{/markdown}}
			{{else}}
				{{#markdown}}{{#striphbsescape}}{{#excerpt}}{{{ page }}}{{/excerpt}}{{/striphbsescape}}{{/markdown}}
				<p><a href="{{relative ../../../page.dest post.dirname}}">Read the rest...</a></p>
			{{/if}}
			{{> postfooter data }}
		{{/forEach}}
	{{/each}}
</div>
