<!DOCTYPE html>
<html lang="en">
<head>
  <title>Devomato</title>
  <link rel="stylesheet" href="{{assets}}/css/bootstrap-theme-devomato/bootstrap.min.css">
  {{!-- <link rel="stylesheet" href="{{assets}}/css/site.css"> --}}
</head>
<body>

  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/blog">devomato</a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        {{> body }}
      </div>

      <!-- recent posts panel -->
      <div class="col-lg-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            Recent Posts
          </div>
          <div class="panel-body">
            {{#each categories}}
              {{#is category "post"}}
                {{#withFirst pages 5}}
                  <p>            
                    <a href="{{relative ../../../page.dest dirname}}">{{data.title}}</a>
                    <small class="text-muted"> - {{timeago data.date}}</small>
                  </p>
                {{/withFirst}}
                </ul>
              {{/is}}
            {{/each}}
          </div>
        </div>
      </div>

    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <p>&copy; 2013 Andrew Jones<br/></p>
    </div>
  </footer>

  {{#unless production}}
  <script src="http://localhost:35729/livereload.js"></script>
  {{/unless}}
</body>
</html>